@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
}

p, a, span, input, button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
}

 /* começo header */
header {
  width: 100vw;
  height: 10vh;
  background-color: #00283a;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

header img {
  width: 130px;
}

header ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  font-size: large;
  color: #ffffff;
}

.links a{
  color: #ffffff;
}

.header_botao {
  color: black;
  text-decoration: none;
}

/* Final header */

/* Área de cadastro */
.cadastro {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 85vh;
}

.container {
  display: flex;
  background-color: #D9D9D9;
  height: 90%;
  width: 70%;
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid #000;
}

 /* lado esquerdo container */
.parte1 {
  background-color: #00283a;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.parte1 h2 {
  color: #ffffff;
}

.parte1 p {
  color:#ffffff;
  font-size: clamp(12px, 2.5vw, 17px);
  padding-bottom: 10px;
}

.parte1 button {
  width: 100px;
  height: 8%;
  border-radius: 14px;
  border: 2px solid #ffffff;
  background-color: #00283a;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.parte1 button a {
  color: white;
  text-decoration: none;
  outline: none;
}

.parte1 button:hover {
  background-color: #ffffff96;
  color: black;
}

/* final lado esquerdo container */

/* começo lado direito com formulario */

.card-cadastro {
  background-color: #f0f0f0;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-cadastro h2 {
  color: #3a3a3a;
  padding-top: 10px;
  font-weight: bold;
}

/* inicio do formulario */

.formulario{
  padding-top: 4px;
  background-color: #f0f0f0;
  height: 75%;
  width: 95%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

input:focus {
  outline: none;
  border: none; 
}

.desenho {
  background-color: #001a27;
  position: absolute;
  width: 50px;
  height: 40px;
  left: -45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0px 0px 10px;
}

.desenho img {
  width: 25px;
  height: 25px;
}

.campo{
  background-color: #f0f0f0;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.campo3{
  background-color: #f0f0f0;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.campo2{
  background-color: #a12020;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.campo input, .campo3 input, .campo select{
  background-color: #00283a;
  border: none;
  font-weight: normal;
  color: #FFFFFF;
  padding-left: 10px;
  font-size: clamp(12px, 2.5vw, 17px);
  width: 100%;
  height: 70%;
  border-radius: 5px;
  font-size: 16px;
}

.campo input::placeholder, .campo3 input::placeholder{
  color: rgb(213, 213, 213);
}


/* Indicador e botão final */
.indicador {
  display: flex;
  align-items: center;
  color: #00283a;
  display: flex;
  align-items: end;
  flex-direction: column;
}

.indicador p{
  font-size: 15px;
  margin-right: 15px;
}

.botaoGeral {
  width: 30%;
  height: 30px;
  border-radius: 14px;
  border: 2px solid ; 
  background-color: #ffffff;
  border: 2px solid #00283a;
  color:#00283a;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
  transition: all ease-in-out 0.2s;
}

.formulario button {
  border-radius: 14px;
}

.formulario button:hover {
    background-color: #00283a;
    color: #fff;
}

.cadastro1{
    display: flex;
    height: 100%;
    width:90%;
    gap: 15px;
    background-color: #f0f0f0;
    flex-direction: column;
    padding: 0px 20px
}

.cadastro2{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 78%;
    background-color: #f0f0f0;
    flex-direction: column;
}

/* Footer */
footer {
  width: 100vw;
  height: 5vh;
  background-color: #00283a;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h1 {
    color: #FFFFFF;
    font-size: 20px;
}


/* Bordas de erro */
.campo input {
  height: 40px;
  box-sizing: border-box;
}

.campo input.erro  {
  border: 1px solid red;
}

.desenho.erro {
    border: 1px solid red;
}

.desenho.erro {
  border: 1px solid red !important;
}

/* Mensagem de erro */
.msg-erro {
  font-size: 12px;
  color: red;
  display: none; 
  height: 40%;
  left: 5px;
  position: absolute;
  bottom: -13px;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {

  body{
    overflow: hidden;
  }
    header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    header ul {
        gap: 10px;
        font-size: 0.9rem;
        margin-top: 5px;
    }

    .cadastro{
      height: 85%;
    }

    .container {
        flex-direction: column;
        width: 85%;
        height: 97%;
    }

    .parte1 {
        border-right: none;
        border-bottom: 3px solid #000;
        width: 100%;
        height: 40%;
    }

    .parte1 button {
        width: 100px;
        height: 30px;
    }

    .card-cadastro {
        width: 100%;
      padding-bottom: 20px;
    }

    .card-cadastro h1 {
        margin-top: 10px; 
        padding-top: 0;  
    }

    .card-cadastro h2 {
      padding: 0px;
    }

    

   
    
    footer{
      height: 8%;
    }
}

.linha-campos {
  display: flex;
  gap: 10px; 
  width: 100%;
}

.linha-campos .campo {
  flex: 1; 
}

.campo input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  background-color: #00283a;
  border: none;
  color: #fff;
}

.campo select {
  font-size: 16px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  background-color: #00283a;
  border: none;
  color: #fff;
}

.botao-final {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
 