@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
     overflow: hidden;
  background-color: #f0f2f5; /* fundo neutro para destacar a box */
}

/* HEADER */
header {
  width: 100vw;
  height: 10vh;
  background-color: #00283a;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

header img {
  width: 150px;
}

.container{
    width: 100vw;
    height: 100vh;
    color: #00283a;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

/* MAIN */
main {
  width: 85%;
  height: 40%;
  margin-left: 55px;
  padding: 15px;
}

main h2 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

/* BOX GERAL */
.box {
  background: #fff;
  border: 2px solid black;
  border-radius: 10px;
  padding-bottom: -2%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      height: 550px;
}

/* FILTROS */
.filtros {
  display: flex;
  align-items: center;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
}

hr {
    margin-bottom: 2%;
}

.filtros input, 
.filtros button {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;

}
 
 .filtros button {
  background-color: #00354d;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
} 

.filtros button:hover {
  background-color: #005b7a;
}

/* CARDS */
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  justify-content: center;
  padding-left: 6%;  
  max-height: 550px;  
  overflow-y: auto;   
  gap: 20px;  
  height: 465px;
  overflow: visible;
}

.card {
  background: #00354d;
  color: white;
  border-radius: 10px;
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 70%;
  transition: 0.25s ease;
}

.card:hover {
  background: rgb(1, 82, 104); 
  cursor: pointer;
  transition: 0.25s ease;
}

.card.selecionado {
    outline: 4px solid black;
}

.card-body h3 {
  font-size: 16px;
  margin: 0;
}

.card-body p {
  font-size: 14px;
  margin-top: 5px;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.card-actions button {
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* SIDEBAR */
  .sidebar {
    position: fixed;
    top: 10vh;
    right: 0;
    width: 10vh;
    height: 90vh;
    background-color: #00283a;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 30px;
}  

.sidebar img{
  width: 42px;
  height: 37px;
  cursor: pointer;
}

 .sidebar a {
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    transition: background 0.3s;
    margin-top: -5px;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #005b7a; 
}

.sidebar a:hover {
  background-color: #005b7a; 
} 

/* modal*/
.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}



/* container modal */
.modal-content {
  background: #fff;
  width: 380px;
  padding: 20px;
  border-radius: 12px;
  color: #00283a;

  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

/* modal detalhes */

.modal-comparativo {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.modal-card {
    background: #fff;
    width: 600px;
    padding: 25px;
    border-radius: 15px;
    position: relative;
    text-align: center;
    color: #00283a;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #00354d;
    color: white;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}


.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lado {
    text-align: center;
}

.flag {
    width: 120px;
    border-radius: 5px;
}

.x {
    font-size: 40px;
    font-weight: 800;
}

.comparacao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.comparacao .coluna {
    width: 30%;
}

.comparacao .valor {
    font-size: 22px;
    font-weight: bold;
}

.comparacao .titulo {
    width: 40%;
    font-weight: bold;
}

.linha {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 12px 0;
    border-bottom: 1px solid #ccc;
}

.btn-delete {
    margin-top: 30px;
    background: #00283a;
    color: white;
    padding: 8px 22px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}


/* titulo */
.modal-content h3 {
    margin-bottom: 15px;
}

.selectEstado{
  display: flex;
  width: 50%;
  height: 30%;
  background-color: #00354d;
}

.selec
/* select do modal */
.modal-content select {
    width: 50%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* botoes do modal */
.modal-buttons {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    width: 70%;
}

.modal-buttons button {
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.modal-buttons .confirmar {
    background-color: #00354d;
    color: white;
}

.modal-buttons button:hover {
    opacity: 0.8;
}

/*modal input*/
.modal-content input, .modal-content select {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 15px;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.65);
    display: none; /* inicialmente escondido */
    align-items: center;
    justify-content: center;
    z-index: 999;
}

/* Caixa do modal */
.modal-content {
    background: #fff;
    width: 450px;
    padding: 30px;
    border-radius: 12px;
    position: relative;
    box-shadow: 0 5px 25px rgba(0,0,0,0.25);
    animation: modalEntrada 0.25s ease;
}

.colunas-modal {
    display: grid;
    grid-template-columns: 1fr 1fr; /* duas colunas iguais */
    gap: 20px;
    width: 100%;
}

/* cada coluna */
.coluna {
    display: flex;
    flex-direction: column;
}

/* garantir espaçamento */
.coluna label {
    margin-top: 10px;
    font-weight: 600;
}

.coluna select {
    margin-top: 5px;
}

/* Botão fechar */
.modal-close {
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: 26px;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.7;
}
.modal-close:hover {
    opacity: 1;
}

/* Título */
#modal-titulo {
    margin-top: 10px;
    font-size: 22px;
    margin-bottom: 20px;
}

/* Área de info */
.modal-info p {
    font-size: 16px;
    margin: 10px 0;
}
.modal-info strong {
    margin-right: 5px;
}

/* 3 pontos verticais */
.card-actions .btn-more {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    padding: 6px;
    border-radius: 8px;
    transition: 0.25s ease;
}

/* HOVER DOS 3 PONTOS */
.card-actions .btn-more:hover {
    background: rgba(255, 255, 255, 0.15);
    transform: scale(1.15);
}
