.main-content {
    margin-right: 70px;
    flex: auto;
    width: 80%;
    margin: 0 auto;
}

details summary {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    list-style: none;
    position: relative;
    padding-left: 20px;
}

details summary::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #004F73;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

details summary::after {
    content: '▸';
    font-size: 16px;
    transition: transform 0.2s ease;
}

details[open] summary::after {
    transform: rotate(90deg);
}

.inputs {
    display: flex;
    gap: 15px;
    margin: 10px 0;
    flex-wrap: wrap;
    padding: 20px;
}

.input-wrapper,
.inputs input {
    flex: 1;
    min-width: 150px;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: #0a3040;
    color: #fff;
    font-size: 14px;
}

input::placeholder {
    color: #ccc;
}


button.action {
    display: block;
    margin: 10px auto 0;
    padding: 8px 20px;
    border: 2px solid #004F73;
    border-radius: 6px;
    background: #ffffff;
    color: #004F73;
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
    width: auto;
    font-weight: bold;

}
.input-wrapper {
    position: relative;
}

.toggle-visibility {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}
