.title {
    margin-top: 0px !important;
}

.form-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 120px;
}

.coluna-esq {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 350px;
} 

.coluna-dir {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 350px;
}

.info-pessoal {
    display: flex;
    flex-direction: column;
    position: relative;
}

.info-pessoal label {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
    color: #000;
}

.info-pessoal input::placeholder {
  color: rgb(214, 214, 214); 
   
}


.info-pessoal input,
.info-pessoal select {
    height: 35px;
    width: 350px;
    border: 1px solid #3f3f3f;
    border-radius: 5px;
  color: rgb(214, 214, 214); 
    border-color: #000;
    background-color: #00283A;
    padding-left: 10px;
}

.acoes-form {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    max-height: 35px;
    width: 350px;
    margin-top: 25px;  
    gap: 15px; 
}

.botao-editar, .botao-atualizar { 
    height: 35px;
    width: 160px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s;
}

.botao-editar {
    background-color: white;
    color: #00283A;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.botao-atualizar {
    background-color: #00283A;
    color: white;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

    
}

/* Bordas de erro */

.info-pessoal {
    
    height: 100px;
}

.info-pessoal input {
  height: 40px;
  box-sizing: border-box;
 
}

.info-pessoal input.erro  {
  border: 1px solid red;
}
 
.msg-erro {
  font-size: 12px;
  color: red;

  left: 5px;
    display: none;

 align-items: end;
 
}