/*sidebar e header aqui*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
  .sidebar {
    position: fixed;
    top: 10vh;
    right: 0;
    width: 10vh;
    height: 90vh;
    background-color: #00283a;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 30px;
}  

.sidebar img{
  width: 42px;
  height: 37px;
  cursor: pointer;
}


 .sidebar a {
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    transition: background 0.3s;
    margin-top: -5px;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #005b7a; 
}

.sidebar a:hover {
  background-color: #005b7a; 
} 

header {
  width: 100vw;
  height: 10vh;
  background-color: #00283a;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

header img {
  width: 150px;
}

header span {
    margin-left: 10px;
}

.title {
    text-align: center;
    font-size: 26px;
    font-weight: 800;
    margin-top: 20px;
   
}